<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gnu.gnu.gnulocsystxteditor">



    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />


    <application
        android:requestLegacyExternalStorage="true"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GNULOCSYS TXT EDITOR"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:inputType="text|textNoSuggestions"

        android:theme="@style/AppTheme">

        <service
            android:name=".ScrollingActivity"
            android:exported="false"
            android:process=":ScrollingActivity"
            android:stopWithTask="false"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".ScrollingActivity"
            android:label="GNULOCSYS TXT EDITOR"
            android:exported="true"
            android:inputType="text|textNoSuggestions"

            android:theme="@style/AppTheme.NoActionBar">





            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>






        </activity>
    </application>

</manifest>